.full-width {
    width: 100%
}
.full-height {
    height: 100%
}
.quarter3-width {
    width: 75%
}
.quarter3-height {
    height: 75%
}
.half-width {
    width: 50%
}
.half-height {
    height: 50%
}
.quarter-width {
    width: 25%
}
.quarter-height {
    height: 25%
}