.center-x {
    margin: 0 auto;
}
.text-center-x {
    text-align: center;
}

.center-y {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.flex {
    display: flex;
}
.f-column {
    flex-flow: column;
}
.f-row {
    flex-flow: row;
}